:root {

    --menu-link-color: rgb(0, 59, 74);
    --menu-link-color-hover: rgb(191, 12, 240);

    --fotoer-link-color: rgb(255, 255, 255);
    --fotoer-link-color-hover: rgb(193, 184, 251);

    --background-color-body: rgb(247, 247, 247);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color-body);
}

/* Disposición de los elementos des header en los extremos del mismo */
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 1% 2% 0 2%;
}

/* Tamaño fijo en el width para que al reducir el tamaño de pantalla no se reduzca el ancho y no se salga de
   la pantalla la palabra VÍDEO.
   Organización de la lista no ordenada para el menú en un grid.
*/
.header-menu .menu {
    width: 150px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    align-items: center;
}

/* Links del menú de navegación. Estado hover, tipo y tamaño de letra y colores */
.internal-link {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--menu-link-color);
}

.internal-link:hover {
    color: var(--menu-link-color-hover);
}

/* Elementos del menú de navegación del header BLOG | VIDEO sin subrayadao y centrados en la columna del grid*/
.header-menu .menu li {
    text-align: center;
}

.header-menu .menu li a {
    text-decoration: none;
}

/* Acceso al primer elemento del grid del menú de navegación del header para poner la barra separadora, que es el borde
   del propio elemento
*/
.header-menu .menu li:nth-child(1) {
    border-right: 2px solid black;
}

/* Posicionamiento del footer al final de la página. Posicionamiento relativo con respecto al elemento con clase main.
*/
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 59, 74);
    color: var(--fotoer-link-color);
    padding: 20px 0 20px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Distribución de los elementos del footer en dos div para organizar el propio footer de dos modos distintos en función
   del tamaño de pantalla.
 */
.footer-container div {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    margin: 16px 0 0 0;
}

.footer-social-menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 16px;
}

.footer-legal-menu {
    list-style-type: none;
    padding: 0;
}

.footer-legal-menu li {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
}

.social-link:hover {
    opacity: 0.7;
}

.legal-link {
    text-decoration-line: none;
    color: var(--fotoer-link-color);
}

.legal-link:hover {
    color: var(--fotoer-link-color-hover);
}

.text-empty-link {
    color: var(--menu-link-color-hover);
    text-decoration: none;
    border-bottom: 1px dotted var(--menu-link-color-hover);
    /* padding-bottom: 0.1%; */
}

.text-empty-link:hover {
    color: rgb(0, 59, 74);
    /* text-decoration: dotted; */
}

/* Con flex:1 expando el main en todo el espacio disponible así el footer se mantiene siempre en 
   la parte inferior de la pantalla.
 */
.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--menu-link-color);
}

h1 {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 30%;
    padding: 0 2% 0 2%;
}

h2 {
    font-family: 'Noto Serif', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    padding: 2% 0 2% 0;
}

h3 {
    font-family: 'Noto Serif', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    padding: 2% 0 3% 0;
}

/* .page-content {
    border: 1px solid black;
} */

.header-image {
    width: 100%;
    height: 58vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/hero-image-home.jpg");
    margin-bottom: 2vh;
}

.first-info {
    padding: 5% 2% 2% 2%;
    line-height: 1.5rem;
    /* text-align: justify; */
}

.first-info p {
    padding: 2% 0 2% 0;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    padding: 2% 0 2% 0;
}

.subscribe-form label {
    padding: 2% 0 2% 0;
}

.subscribe-form input {
    height: 30px;
}

.data-protection-info {
    font-size: 12px;
    line-height: 1.2;
}

.accept-terms {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accept-terms label {
    padding-left: 1%;
}

.submit-button {
    background-color: var(--menu-link-color);
    color: var(--fotoer-link-color);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    padding: 0 4% 0 4%;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--menu-link-color-hover);
}

.second-info {
    width: 100%;
    background-color: rgb(229, 225, 254);
    padding: 3%;
}

.text-content{
    margin:  6% 0 6% 0;
}

.text-content p {
    margin:  0 0 3% 0;
}

.text-content img {
    width: 100%;
}

.text-content figcaption {
    font-size: 0.5rem;
    text-align: end;
}

/* Dispositivos especialmente pequeños (phones, menores que 768px) */
/* Estilos principales, ya que es el contexto por defecto en Bootstrap */
@media (min-width: 768px) {

    /* Dispositivos pequeños (tablets, 768px y superiores) */
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .footer-container div:nth-child(1) {
        align-items: start;
    }

    .footer-container div:nth-child(2) {
        align-items: end;
        align-self: flex-end;
    }

    .footer-legal-menu {
        display: flex;
        width: 450px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .footer-legal-menu li:nth-child(2),
    .footer-legal-menu li:nth-child(1) {
        border-right: 2px solid white;
    }

    /* h1 {
        font-size: 3.6vw;
        width: 45%;
    } */

    h2 {
        position: absolute;
        font-size: 2.8vw;
        top: 0;
    }

    .page-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-info {
        position: relative;
        /* display: flex;
        display: grid;
        grid-template-columns: 46% 52%;
        gap: 4%;
        width: 60%; */
    }
    
    .second-info {
        padding: 2% 4% 2% 4%;
    }

    .subscribe-form,
    .text-intro {
        padding-top: 4vh;
    }
    
    .second-info article:nth-child(odd).text-content {
        display: grid;
        grid-template-columns: 27% 68%;
        gap: 6%;
        align-items: center;        
    }

    .second-info article:nth-child(even).text-content {
        display: grid;
        grid-template-columns: 68% 27%;
        gap: 6%;
        align-items: center;
    }

    .second-info article:nth-child(even).text-content>figure:nth-of-type(1){
        grid-column: 2;
        grid-row: 1;
    }
    
    .second-info article:nth-child(even).text-content>div:nth-of-type(2){
        grid-column: 1;
        grid-row: 1;
    }

    .second-info article:nth-child(even).text-content figure {
        transform: rotate(4deg);
    }  
    
    .second-info article:nth-child(odd).text-content figure {
        transform: rotate(-4deg);
    }

    .text-content{
        margin:  4% 0 4% 0;
    }

    .text-content img {
        width: 100%;
    }

    /* .page-content {
        font-size: 1rem;
    } */

    /* .text-content figcaption {
        font-size: 0.5rem;
        text-align: end;
    } */

}

@media (min-width: 992px) {
    /* Dispositivos medios (escritorio, 992px y superiores) */
    
    .first-info {
        position: relative;
        display: grid;
        grid-template-columns: 46% 52%;
        gap: 4%;
        width: 60%;
    }
    .second-info {
        padding: 2% 20% 2% 20%;
    }

    h1 {
        font-size: 3.6vw;
        width: 45%;
        margin-right: 16%;
    }

    /* .page-content {
        font-size: 1rem;
    } */

}

@media (min-width: 1200px) {
    /* Dispositivos grandes (escritorios grandes, 1200px y superiores) */
    .page-content {
        font-size: 1.1rem;
    }
}

@media (min-width: 1700px) {
    /* Dispositivos muy grandes (escritorios grandes, 1700px y superiores) */
    /* h1 {
        font-size: 4.5rem;
        width: 45%;
    } */
    .page-content {
        font-size: 1.2rem;
    }
}