:root {

    --menu-link-color: rgb(0, 59, 74);
    --menu-link-color-hover: rgb(191, 12, 240);

    --fotoer-link-color: rgb(255, 255, 255);
    --fotoer-link-color-hover: rgb(193, 184, 251);

    --background-color-body: rgb(247, 247, 247);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--fotoer-link-color);
}

/******************************************************************/
/*                            HEADER.HTML                         */
/******************************************************************/

/* Disposición de los elementos des header en los extremos del mismo */
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 1% 1% 1% 1%;
}

/* Tamaño fijo en el width para que al reducir el tamaño de pantalla no se reduzca el ancho y no se salga de
   la pantalla la palabra VÍDEO.
   Organización de la lista no ordenada para el menú en un grid.
*/
.header-menu .menu {
    width: 150px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    align-items: center;
}

.menu-logo {
    scale: 0.8;
}

/* Links del menú de navegación. Estado hover, tipo y tamaño de letra y colores */
.internal-link {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--menu-link-color);
}

.internal-link.selected,
.internal-link:hover {
    color: var(--menu-link-color-hover);
}

/* Elementos del menú de navegación del header BLOG | VIDEO sin subrayadao y centrados en la columna del grid*/
.header-menu .menu li {
    text-align: center;
}

.header-menu .menu li a {
    text-decoration: none;
}

/* Acceso al primer elemento del grid del menú de navegación del header para poner la barra separadora, que es el borde
   del propio elemento
*/
.header-menu .menu li:nth-child(1) {
    border-right: 2px solid black;
}


/******************************************************************/
/*                            FOOTER.HTML                         */
/******************************************************************/

/* Posicionamiento del footer al final de la página. Posicionamiento relativo con respecto al elemento con clase main.
*/
.footer-container {
    background-color: rgb(0, 59, 74);
    color: var(--fotoer-link-color);
    padding: 20px 0 20px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1.5;
}

/* Distribución de los elementos del footer en dos div para organizar el propio footer de dos modos distintos en función
   del tamaño de pantalla.
 */
.footer-container div {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container img {
    scale: 0.7;
}

.copyright {
    margin: 16px 0 0 0;
}

.footer-social-menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 16px;
}

.footer-legal-menu {
    list-style-type: none;
    padding: 0;
}

.footer-legal-menu li {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
}

.social-link:hover {
    opacity: 0.7;
}

.legal-link {
    text-decoration-line: none;
    color: var(--fotoer-link-color);
}

.legal-link:hover {
    color: var(--fotoer-link-color-hover);
}

.text-empty-link {
    color: var(--menu-link-color-hover);
    text-decoration: none;
    border-bottom: 1px dotted var(--menu-link-color-hover);
}

.text-empty-link:hover {
    color: rgb(0, 59, 74);
}


/******************************************************************/
/*                            INDEX.HTML                          */
/******************************************************************/

/* Con flex:1 expando el main en todo el espacio disponible así el footer se mantiene siempre en 
   la parte inferior de la pantalla.
 */
.main {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--menu-link-color);
}

h1 {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 30%;
    padding: 0 2% 0 2%;
}

h2 {
    font-family: 'Noto Serif', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    padding: 2% 0 2% 0;
}

h3 {
    font-family: 'Noto Serif', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    padding: 2% 0 3% 0;
}

.header-image {
    width: 100%;
    height: 58vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/hero-image-home.jpg");
    margin-bottom: 2vh;
}

.first-info {
    padding: 5% 2% 2% 2%;
    line-height: 1.5rem;
}

.first-info p {
    padding: 2% 0 2% 0;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    padding: 2% 0 2% 0;
}

.subscribe-form label {
    padding: 2% 0 2% 0;
}

.subscribe-form input {
    height: 30px;
}

.data-protection-info {
    font-size: 12px;
    line-height: 1.2;
}

.accept-terms {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accept-terms label {
    padding-left: 1%;
}

.submit-button {
    background-color: var(--menu-link-color);
    color: var(--fotoer-link-color);
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 2% 4% 2% 4%;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--menu-link-color-hover);
}

.second-info {
    width: 100%;
    background-color: rgb(229, 225, 254);
    padding: 3%;
}

.text-content {
    margin: 6% 0 6% 0;
}

.text-content p {
    margin: 0 0 7% 0;
}

.text-content div {
    padding: 0 0 5% 0;
}

.input-blog img,
.text-content-blog img,
.text-content img {
    width: 100%;
}

.text-content h3 {
    padding: 0 0 3% 0;
}

.text-content figure {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.text-content figcaption {
    font-size: 0.8rem;

}

/******************************************************************/
/*                            BLOG.HTML                           */
/******************************************************************/

.main-blog {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--menu-link-color);
    background-color: var(--background-color-body);
}

.main-blog h1 {
    width: 100%;
    font-family: 'Noto Serif', sans-serif;
    position: inherit;
    font-size: 2rem;
    margin: 0;
    padding: 10px 0 10px 10px;
}

.main-blog h4 {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(158, 157, 171);
}

.text-content-blog {
    background-color: var(--background-color-body);
    border: 1px solid var(--fotoer-link-color-hover);
    margin: 2%;
}

.text-content-blog p {
    margin: 0 0 3% 0;
}

.text-content-blog figcaption {
    font-size: 0.5rem;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.author {
    background-color: rgba(229, 225, 254, 0.323);
    padding: 2px;
}

.article-category-link {
    top: 5%;
    left: 2%;
}

.text-content-blog figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 2%;
}

.text-content-blog h3 {
    font-size: 1.6rem;
    padding: 1% 0 1% 0;
}

.text-content-blog div {
    padding: 0 2% 2% 2%;
}

.blog-link {
    color: var(--menu-link-color);
    text-decoration: none;
}

.blog-link:hover {
    color: var(--menu-link-color-hover)
}

.article-category-link a {
    background-color: var(--menu-link-color);
    color: var(--fotoer-link-color);
    text-decoration: none;
    font-size: 0.7rem;
    padding: 2%;
}

.article-category-link a:hover {
    cursor: pointer;
    background-color: var(--menu-link-color-hover);
}

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    color: var(--menu-link-color);
    margin: 20px 0 20px 0;
    padding: 0;
}

.new-page-button {
    padding: 6px;
    margin: 4px;
    border: 1px solid var(--menu-link-color);
}

.new-page-button a{
    text-decoration: none;
    color: var(--menu-link-color);
}

.new-page-button.selected a,
.new-page-button.selected, 
.new-page-button:hover a,
.new-page-button:hover {
    cursor: pointer;
    background-color: var(--menu-link-color-hover);
    border: 1px solid var(--menu-link-color-hover);
    color: var(--background-color-body);
}

/******************************************************************/
/*                            ENTRADA.HTML                        */
/******************************************************************/

.input-main {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--menu-link-color);
    background-color: var(--background-color-body);
    padding-top: 30px;
}

.breadcrumbs {
    width: 100%;
    padding-left: 2%;
    display: flex;
    list-style: none;
}

.breadcrumbs li {
    padding: 2px;
}

.breadcrumbs li:after {
    content: " > ";
}

.breadcrumbs li:nth-last-child(1):after {
    content: "";
    background-color: brown;
}

.breadcrumb-link {
    text-decoration: none;
    color: var(--menu-link-color);
}

.breadcrumb-link.selected,
.breadcrumb-link:hover {
    font-weight: 600;
}

.input-blog {
    padding: 2%;
    margin: 2%;
    background-color: var(--background-color-body);
    line-height: 1.4;
}

.input-blog h2 {
    font-size: 1.6rem;
}

.input-header {
    background-color: rgb(229, 225, 254);
}

.input-header h1 {
    width: 100%;
    font-family: 'Noto Serif', sans-serif;
    position: inherit;
    font-size: 2.4rem;
    margin: 0;
    padding: 10px 0 10px 10px;
}

.categories-list-title h3,
.recents-articles h3 {
    font-size: 1.3rem;
}

.input-header h4 {
    width: 100%;
    font-size: 0.9rem;
    margin: 0;
    padding: 0px 0 5px 14px;
    color: rgb(158, 157, 171);
}

.recents-articles h4 {
    width: 100%;
    font-size: 0.9rem;
    margin: 0;
    padding: 0px 0 5px 0px;
    color: rgb(158, 157, 171);
}

.input-header h4 a {
    color: var(--menu-link-color);
    text-decoration: none;
}

.input-intro {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
}

.input-blog li,
.input-blog ul {
    margin-top: 1rem;
}

blockquote {
    margin: 3% 0 3% 8%;
    padding-left: 40px;
    border-left: 3px solid var(--menu-link-color-hover);
}

blockquote p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

blockquote cite {
    font-size: 0.8rem;
}

.categories-list {
    width: 100%;
}

.recents-articles-title,
.categories-list-title {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    padding: 3% 0 0 2%;
}

.categories {
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 20px;
}

.categories li {
    border: 1px solid var(--menu-link-color);
    padding: 5px;
    margin: 5px;
}

.categories li:hover {
    cursor: pointer;
    border: 1px solid var(--menu-link-color-hover);
    background-color: var(--menu-link-color-hover);
}

/******************************************************************/
/*                            VIDEOS.HTML                          */
/******************************************************************/
.videos-main {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--menu-link-color);
    background-color: var(--background-color-body);
    padding-bottom: 6%;
}

.videos-main h1 {
    width: 100%;
    font-family: 'Noto Serif', sans-serif;
    position: inherit;
    font-size: 2rem;
    margin: 0;
    padding: 10px 0 10px 10px;
}

.container-video {
    background-color: var(--fotoer-link-color);
    border: 1px solid var(--fotoer-link-color-hover);
    margin: 2%;
}

.videos-main h2 {
    font-size: 1.6rem;
}

.iframe-video {
    width: 100%;
    height: 35vh;
    border: none;
}

.video-description {
    padding: 2%;
    line-height: 1.5;
}

/* Dispositivos especialmente pequeños (phones, menores que 768px) */
/* Estilos principales, ya que es el contexto por defecto en Bootstrap */
@media (min-width: 768px) {

    .menu-logo {
        scale: 1;
    }

    /******************************************************************/
    /*                            INDEX.HTML                          */
    /******************************************************************/

    .text-intro h2 {
        position: absolute;
        font-size: 4.8vw;
        top: 0;
    }

    .page-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-info {
        position: relative;
    }

    .second-info {
        padding: 2% 4% 2% 4%;
    }

    .text-content {
        margin: 2% 0 2% 0;
    }

    .second-info article:nth-child(odd).text-content {
        display: grid;
        grid-template-columns: 27% 68%;
        gap: 6%;
        align-items: center;
    }

    .second-info article:nth-child(even).text-content {
        display: grid;
        grid-template-columns: 68% 27%;
        gap: 6%;
        align-items: center;
    }

    .second-info article:nth-child(even).text-content>figure:nth-of-type(1) {
        grid-column: 2;
        grid-row: 1;
    }

    .second-info article:nth-child(even).text-content figure {
        transform: rotate(4deg);
    }

    .second-info article:nth-child(odd).text-content figure {
        transform: rotate(-4deg);
    }

    /******************************************************************/
    /*                            BLOG.HTML                          */
    /******************************************************************/

    .grid-news {
        display: grid;
        grid-template-columns: repeat(2, 49%);
    }

    .main-blog h1 {
        font-size: 4vw;
    }

    .paginator li {
        width: 32px;
        height: 42px;
        padding: 10px;
        margin: 8px;
        border: 1px solid var(--menu-link-color);
    }

    /******************************************************************/
    /*                            ENTRADA.HTML                          */
    /******************************************************************/

    /* .input-main {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    } */

    .recents-articles {
        padding-top: 60px;
        margin: 1%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
    }

    .recents-articles h2 {
        position: absolute;
        top: 0;
    }

    .categories-list {
        /* position: relative;
        bottom: 0; */
        grid-column-start: 1;
        grid-column-end: 3;

        /* grid-row-start: 2;
        grid-row-end: 3; */
    }

    .grid-videos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 992px) {
    /* Dispositivos medios (escritorio, 992px y superiores) */

    /******************************************************************/
    /*                            FOOTER.HTML                         */
    /******************************************************************/
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        font-size: 0.9rem;
    }

    .footer-container img {
        scale: 1;
    }

    .footer-container div:nth-child(1) {
        align-items: start;
    }

    .footer-container div:nth-child(2) {
        align-items: end;
        align-self: flex-end;
    }

    .footer-legal-menu {
        display: flex;
        width: 450px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .footer-legal-menu li:nth-child(2),
    .footer-legal-menu li:nth-child(1) {
        border-right: 2px solid white;
    }


    /******************************************************************/
    /*                            INDEX.HTML                          */
    /******************************************************************/
    .first-info {
        /* position: relative; */
        display: grid;
        grid-template-columns: 46% 52%;
        gap: 4%;
        width: 60%;
    }

    .text-intro h2 {
        /* position: absolute; */
        font-size: 2.8vw;
        /* top: 0; */
    }

    .second-info {
        padding: 2% 20% 2% 20%;
    }

    h1 {
        font-size: 3.6vw;
        width: 45%;
        margin-right: 16%;
    }

    /******************************************************************/
    /*                            BLOG.HTML                           */
    /******************************************************************/

    .grid-news {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .main-blog {
        padding-left: 1%;
        padding-right: 1%;
    }

    .main-blog h1 {
        font-size: 3vw;
    }

    .grid-news section:nth-child(-n+1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-news section:nth-child(-n+1):nth-child(-n+1) {
        margin: 1%;
    }

    /******************************************************************/
    /*                            ENTRADA.HTML                        */
    /******************************************************************/

    .input-main {
        display: grid;
        justify-content: center;
        grid-template-columns: 45% 20%;
        align-items: start;
    }

    .breadcrumbs {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .input-blog {
        margin-bottom: 5%;
    }

    .recents-articles {
        padding-top: 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .recents-articles h2 {
        /* font-size: 1.6rem; */
        width: 100%;
        position: relative;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
    }

    .recents-articles {
        display: flex;
        flex-direction: column;
    }

    /******************************************************************/
    /*                            VIDEOS.HTML                        */
    /******************************************************************/

    .videos-main h1 {
        font-size: 3vw;
    }

    .grid-videos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {

    /* Dispositivos grandes (escritorios grandes, 1200px y superiores) */
    /* .recents-articles h2{
        font-size: 2.2rem;
    } */
}

@media (min-width: 1700px) {

    /* Dispositivos muy grandes (escritorios grandes, 1700px y superiores) */
}