:root {

    --menu-link-color: rgb(0, 59, 74);
    --menu-link-color-hover: rgb(191, 12, 240);

    --fotoer-link-color: rgb(255, 255, 255);
    --fotoer-link-color-hover: rgb(193, 184, 251);

    --background-color-body: rgb(247, 247, 247);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color-body);
}

/* Disposición de los elementos des header en los extremos del mismo */
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 1% 2% 0 2%;
}

/* Tamaño fijo en el width para que al reducir el tamaño de pantalla no se reduzca el ancho y no se salga de
   la pantalla la palabra VÍDEO.
   Organización de la lista no ordenada para el menú en un grid.
*/
.header-menu .menu {
    width: 150px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    align-items: center;
}

/* Links del menú de navegación. Estado hover, tipo y tamaño de letra y colores */
.internal-link {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--menu-link-color);
}

.internal-link:hover {
    color: var(--menu-link-color-hover);
}

/* Elementos del menú de navegación del header BLOG | VIDEO sin subrayadao y centrados en la columna del grid*/
.header-menu .menu li {
    text-align: center;
}

.header-menu .menu li a {
    text-decoration: none;
}

/* Acceso al primer elemento del grid del menú de navegación del header para poner la barra separadora, que es el borde
   del propio elemento
*/
.header-menu .menu li:nth-child(1) {
    border-right: 2px solid black;
}

/* Posicionamiento del footer al final de la página. Posicionamiento relativo con respecto al elemento con clase main.
*/
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 59, 74);
    color: var(--fotoer-link-color);
    padding: 20px 0 20px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Distribución de los elementos del footer en dos div para organizar el propio footer de dos modos distintos en función
   del tamaño de pantalla.
 */
.footer-container div {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    margin: 16px 0 0 0;
}

.footer-social-menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 16px;
}

.footer-legal-menu {
    list-style-type: none;
    padding: 0;
}

.footer-legal-menu li {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
}

.social-link:hover {
    opacity: 0.7;
}

.legal-link {
    text-decoration-line: none;
    color: var(--fotoer-link-color);
}

.legal-link:hover {
    color: var(--fotoer-link-color-hover);
}

.text-empty-link{
    color: var(--menu-link-color-hover);
    text-decoration: none;
    border-bottom: 1px dotted var(--menu-link-color-hover);
    padding-bottom: 0.5%;
}

.text-empty-link:hover{
    color: rgb(0, 59, 74);
    /* text-decoration: dotted; */
}

/* Con flex:1 expando el main en todo el espacio disponible así el footer se mantiene siempre en 
   la parte inferior de la pantalla.
 */
.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--menu-link-color);
    overflow-y: auto;
    /* line-height: 1.5rem; */
}

h1 {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 30%;
}

h2{
    font-family: 'Noto Serif', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding: 2% 0 2% 0;
}

/* .page-content {
    border: 1px solid black;
} */

.header-image {
    width: 100%;
    /* border: 1px solid black; */
    height: 58vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/hero-image-home.jpg");
}

.first-info {
    padding: 5% 2% 2% 2%;
    line-height: 1.5rem;
}

.first-info p{
    padding: 2% 0 2% 0;
}

.subscribe-form {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 2% 0 2% 0;
}

.subscribe-form label{
    padding: 2% 0 2% 0;
}

.subscribe-form input{
    height: 30px;
}

.data-protection-info{
    font-size: 12px;
    line-height: 1.2;
}

.accept-terms{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accept-terms label{
    padding-left: 1%;
}



/* Dispositivos especialmente pequeños (phones, menores que 768px) */
/* Estilos principales, ya que es el contexto por defecto en Bootstrap */
@media (min-width: 768px) {

    /* Dispositivos pequeños (tablets, 768px y superiores) */
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);        
    }

    .footer-container div:nth-child(1) {
        align-items: start;
    }

    .footer-container div:nth-child(2) {
        align-items: end;
        align-self: flex-end;
    }

    .footer-legal-menu {
        display: flex;
        width: 450px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .footer-legal-menu li:nth-child(2),
    .footer-legal-menu li:nth-child(1) {
        border-right: 2px solid white;
    }

    h1 {
        font-size: 70px;
        width: 45%;
    }

    h2{
        position: absolute;
        top: 5%;
    }

    .page-content {
        width: 57%;
    }

    .first-info {
        position: relative;
        display: grid;
        /* grid-template-rows: repeat(4, auto); */
        grid-template-columns: 50% 50%;
        /* grid-template-columns: repeat(2, 50%); */
        gap: 4%;
        /* padding-top: 15%; */
    }

    .subscribe-form,
    .text-intro{
        padding-top: 15%;
    }
}

@media (min-width: 992px) {
    /* Dispositivos medios (escritorio, 992px y superiores) */
}

@media (min-width: 1200px) {
    /* Dispositivos grandes (escritorios grandes, 1200px y superiores) */
}