* {
    box-sizing: border-box;
}

ul{
    display: grid;
    padding: 0;
}

.menuButton {
    list-style-type: none;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

@media (min-width: 450px) and (max-width: 768px) {

    .menu {
        border: 2px solid red;
        max-width: 768px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .menu {
        border: 2px solid green;
        grid-template-columns: repeat(3, auto);        
        max-width: 1024px;
    }
}

@media (min-width: 1024px) {

    .menu {
        border: 2px solid yellow;
        grid-template-columns: repeat(8, auto);
        max-width: 1200px;
    }
}
